{% extends 'layouts/bootstrap-base.html.twig' %}

{% block content %}
    <!-- ================ start banner area ================= -->
    <section class="blog-banner-area" id="category">
        <div class="container h-100">
            <div class="blog-banner">
                <div class="text-center">
                    <h1>Order Tracking</h1>
                    <nav aria-label="breadcrumb" class="banner-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order Tracking</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ end banner area ================= -->


    <!--================Tracking Box Area =================-->
    <section class="profile">
        <header class="header">
            <div class="details">
                <h1 style="text-align: center" class="heading">Remy Lecomte</h1>
                <div style="text-align: center" class="location">
                    <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12 ,2Z"></path>
                    </svg>
                    <p style="text-align: center">Liège, Belgique</p>
                </div>
                <div style="margin-left: 605px" class="stats">
                    <div class="col-4">
                        <h4 >20</h4>
                        <p>Ventes</p>
                    </div>
                    <div class="col-4">
                        <h4>10</h4>
                        <p>Discusssions</p>
                    </div>
                </div>
            </div>
        </header>
    </section>
    <!--================End Tracking Box Area =================-->
{% endblock %}
